<ul class="nav metismenu" id="side-menu">
	<li class="nav-header">
        <img src='{$host}__assets/img/logo-nokia-kecil.png' width='150px' height='50px' />
    </li>
	<li>
        <a href="index-2.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Dashboards</span> </a>
    </li>
	<li>
        <a href="index-2.html"><i class="fa fa-tasks"></i> <span class="nav-label">Master Progress</span> </a>
    </li>
	<li>
        <a href="#"><i class="fa fa-list"></i> <span class="nav-label">PO Database</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a href="form_basic.html">PO Uploader</a></li>
            <li><a href="form_basic.html">PO Mapping</a></li>
        </ul>
    </li>
	<li>
        <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Master Data</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a href="javascript:void(0);" onClick="loadUrl('{$host}backend/getdisplay/master/phase')">Phase</a></li>
            <li><a href="javascript:void(0);">PO Type</a></li>
            <li><a href="javascript:void(0);">Currency</a></li>
            <li><a href="javascript:void(0);">Region</a></li>
        </ul>
    </li>
</ul>