<tr>
<td>&nbsp;</td><td>{$label|default:'-'}</td><td>:</td>
<td style="font-weight:bold;">
{if $type eq 'select'}
	<select id="form-field-select-1" id="{$id}" name="{$name}" class="{$class|default:''}" style="{$style_type|default:''}">
		{$option|default:''}
	</select>
{elseif $type eq 'text'}
	<input  type="text" class="{$class|default:''}" id="{$id}" name="{$name}" value="{$value|default:''}" style="{$style_type|default:''}" />

{elseif $type eq 'file'}
	<input type="file" class="{$class|default:''}" id="{$id}" name="{$name}" style="{$style_type|default:''}"  />
{elseif $type eq 'pwd'}
	 <div class="input-group">
        <input type="password" class="span4 {$class|default:''}" id="{$id}" name="{$name}" style="{$style_type|default:''}" value="{$value|default:''}" />
        <span class="input-group-addon">
			<a href="javascript:void(0);" onclick="konversi_pwd_text('{$id}')">Show</a>
		</span> 
       </div>
{elseif $type eq 'textarea'}
	<textarea class="{$class|default:''}" style="{$style_type|default:''}" id="{$id}" name="{$name}">{$value|default:''}</textarea>
{/if}
</td>
</tr>