{assign var="readonly" value={$read|default:''}}
<div class="control-group">
	<label class="control-label" for="form-field-1">{$label}</label>
	<div class="controls">
	{if $type eq 'select'}
		<select id="form-field-select-1" id="{$id}" name="{$name}" class="{$class|default:''}">
			{$option|default:''}
		</select>
	{elseif $type eq 'text'}
		<input {$readonly} type="text" class="{$class|default:''}" id="{$id}" name="{$name}" value="{$value|default:''}" />
	{elseif $type eq 'file'}
		<input {$readonly} type="file" class="{$class|default:''}" id="{$id}" name="{$name}"  />
	{elseif $type eq 'pwd'}
		 <div class="input-group">
            <input type="password" class="span4 {$class|default:''}" id="{$id}" name="{$name}" value="{$value|default:''}" />
            <span class="input-group-addon">
				<a href="javascript:void(0);" onclick="konversi_pwd_text('{$id}')">Show</a>
			</span> 
           </div>
	{elseif $type eq 'textarea'}
		<textarea class="{$class|default:''}" id="{$id}" name="{$name}">{$value|default:''}</textarea>
	{/if}
	</div>
</div>